Repository lolimmlost/HK-Schedules: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(chrome): resolve multi-entry schedule saving issue
  src/components/schedule-form.tsx
  tests/housekeeping.spec.ts
Due: eslint --fix, prettier --write

feat: comprehensive quality of life improvements system
  QOL_IMPROVEMENTS.md
  QUALITY_OF_LIFE_STORIES.md
  package.json
  scripts/README.md
  scripts/generate-github-issues.mjs
  scripts/generate-github-issues.ts
  src/App.tsx
  src/components/ui/toast.tsx
  src/hooks/use-toast.ts
  src/lib/useCSVExport.ts
  src/lib/useScheduleStore.ts
Due: eslint --fix, prettier --write

feat(ui): professional enterprise UI improvements
  src/components/AppHeader.tsx
  src/components/Dashboard.tsx
  src/components/DashboardControls.tsx
  src/components/DashboardHeader.tsx
  src/components/ImportSection.tsx
  src/components/ScheduleCard.tsx
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix(ci): resolve ESLint failures in CI pipeline
  eslint.config.js
  src/hooks/use-toast.ts
Due: eslint --fix, prettier --write

fix(test): add path alias to vitest config
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(ci): wait for dev server before running e2e tests
  .github/workflows/ci.yml
  debug-initial-load.png
  debug-large-initial.png
  package-lock.json
  package.json
  playwright-report/data/6f6521d71050a610b54137b031c98420967b6141.md
  playwright-report/index.html
  test-results/.last-run.json
  test-results/housekeeping-Housekeeping--3c475--full-housekeeping-workflow-chromium/error-context.md
  test-results/housekeeping-Housekeeping-Workflow-E2E-large-dataset-chromium/error-context.md
Due: prettier --write

fix(ci): use sleep instead of wait-on for dev server
  .github/workflows/ci.yml
Due: none

WIP: Save current progress
  package-lock.json
Due: prettier --write

chore: Add Procfile for deployment
  Procfile
Due: none

chore: Port deployment to Coolify
  .dockerignore
  Dockerfile
  Procfile
  docker-compose.yml
  server.js
Due: eslint --fix, prettier --write

chore: Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{css,json,md})
